<!-- templates/add_tutor.html -->
{% extends 'base.html' %}

{% block title %}Add Tutor{% endblock %}

{% block content %}
<section class="add-tutor">
    <form action="" method="post" class="form-container">
        <div class="details">
            <article class="form tutor-details">

                <h2>Give me tutor details</h2>
                <div>
                    <div class="bio">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Name" required><br><br>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" id="surname" name="surname" placeholder="Surname" required><br><br>
                        </div>
        
                        <div class="form-group">
                            <input type="text" id="username" name="username" placeholder="Username" required><br><br>
                        </div>
        
                        <div class="form-group">
                            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                        </div>
                    </div>
            
                    <div class="modules">
                        {% for module in modules %}
                            <input type="checkbox" id="module_{{ module.module_id }}" name="module_ids" value="{{ module.module_id }}">
                            <label for="module_{{ module.module_id }}">{{ module.module_name }} ({{ module.module_code }})</label><br>
                        {% endfor %}
                    </div>
                </div>
            </article>
    
            <article class="availability">
                <h2>This is where you set tutor's availability</h2>
                <div>
                    <div id="availability_section">
                        <div>
                            <label>Day:</label>
                            <input type="text" name="day_of_week_0" required>
                            <label>Start Time:</label>
                            <input type="time" name="start_time_0" required>
                            <label>End Time:</label>
                            <input type="time" name="end_time_0" required>
                            <label>Module:</label>
                            <select name="module_id_0">
                                {% for module in modules %}
                                    <option value="{{ module.module_id }}">{{ module.module_name }} ({{ module.module_code }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="button" onclick="addAvailability()">Add Another Availability Slot</button>
            
                    <input type="hidden" id="availability_count" name="availability_count" value="1">
                </div>
            </article>
        </div>
        <input type="submit" value="Add Tutor">
    </form>

</section>

<script>
    let availabilityCount = 1;

    function addAvailability() {
        const section = document.getElementById('availability_section');
        const newDiv = document.createElement('div');
        newDiv.innerHTML = `
            <label>Day:</label>
            <input type="text" name="day_of_week_${availabilityCount}" required>
            <label>Start Time:</label>
            <input type="time" name="start_time_${availabilityCount}" required>
            <label>End Time:</label>
            <input type="time" name="end_time_${availabilityCount}" required>
            <label>Module:</label>
            <select name="module_id_${availabilityCount}">
                {% for module in modules %}
                    <option value="{{ module.module_id }}">{{ module.module_name }} ({{ module.module_code }})</option>
                {% endfor %}
            </select>
        `;
        section.appendChild(newDiv);
        availabilityCount++;
        document.getElementById('availability_count').value = availabilityCount;
    }
</script>
{% endblock %}