{% extends "base.html" %}

{% block title %}Tute Me{% endblock %}

{% block content %}

<section class="student-dashboard">
    <article class="dashboard-title">
        <h2>Your Dashboard - Where you can see the overview of modules we offer</h2>
        <p>
            Here are the modules we offer, you can book you tutor based on the module you want
        </p>


        <div class="cards">
            <a href="{{ url_for('search_modules') }}" class="btn">
                <span>Search for modules</span>
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a href="{{ url_for('view_bookings') }}" class="btn">
                <span>Go to my bookings</span>
                <svg class="arrow-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </article>
    <article class="dashboard-content">

        <ul>
            {% for module in modules %}
                <li>
                    <p>{{ module.module_name }} ({{ module.module_code }})</p>
                     
                    <a href="{{ url_for('book_session', module_id=module.module_id) }}">Book a Tutor</a>
                </li>
            {% endfor %}
        </ul>
    </article>
</section>

{% endblock %}